<h1 class="ui header">Warenkorb</h1>
<div class="ui grid">
  <table class="ui celled table">
    <thead>
    <tr>
      <th class="two wide">Cover</th>
      <th class="four wide">Buchtitel</th>
      <th class="two wide">Autor</th>
      <th class="two wide">Preis pro Stück</th>
      <th class="two wide">Preis</th>
      <th class="four wide">Menge</th>
    </tr>
    </thead>
    <tbody *ngIf="cart">
    <tr *ngFor="let cartitem of cart; let item = index" id="book {{ item }}">
      <td data-label="Cover">
        <img class="ui tiny image" [src]="getBookArray(item, 0, 0, 'url')">
      </td>
      <td data-label="Buchtitel">{{ getBook(item, 2) }}</td>
      <td data-label="Autor">
          <span *ngFor="let a of getBook(item, 5); let i = index; last as l">
         {{ getBookArray(item, 5, i, 'firstName') }} {{ getBookArray(item, 5, i, 'lastName') }}<span *ngIf="!l">, </span>
          </span>
      </td>
      <td data-label="Preis">{{ (getBook(item, 4)*1).toFixed(2) }}€</td>
      <td data-label="PreisGes" id="bookPrice {{ item }}">{{ (getBook(item, 4)*1).toFixed(2) }}€</td>
      <td data-label="Menge">
        <button class="ui left attached button" (click)="minus(item)">-</button>
        <button class="ui disabled button" id="count {{ item }}">1</button>
        <button class="right attached ui button" (click)="plus(item)">+</button>
        <button class="ui right floated button" id="delete" (click)="delete(item)">Löschen</button>
      </td>
      {{ setCounter(item) }}
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Gesamtpreis:</th>
        <th></th>
        <th></th>
        <th><button class="ui button" (click)="calculatePrice()">Preis berechnen</button></th>
        <th id="totalPrice"></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="ui grid">
  <button [routerLink]="'/books'" class="ui red button">Zurück zur Buchliste</button>

  <button class="ui red button" (click)="buy()">Kaufen</button>
</div>
