<div class="ui {{isLoggedIn()?'five':'four'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a *ngIf="isLoggedIn() && isAdmin('isadmin')" routerLink="admin" routerLinkActive="active" class="item">Bücheradministration</a>
  <a *ngIf="isLoggedIn() && isAdmin('isadmin')" routerLink="manageorders" routerLinkActive="active" class="item">Bestellungen verwalten</a>
  <a *ngIf="isLoggedIn() && !isAdmin('isadmin')" routerLink="orders" routerLinkActive="active" class="item">Meine Bestellungen</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
  <a *ngIf="!isAdmin('isadmin')" routerLink="cart" routerLinkActive="active" class="item">Warenkorb</a>
</div>

<router-outlet></router-outlet>